body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  margin-bottom: 10px;
}

#productos-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background: #f9f9f9;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: #444;
}
